@import "tailwindcss";


@theme{
 /*  Custom colors start */
  --color-shop_light_pink: #fcf0e4;
  --color-shop_dark_green: #063c28;
  --color-shop_btn_dark_green: #063d29;
  --color-shop_light_bg: #f6f6f6;
  --color-shop_light_green: #3b9c3c;
  --color-shop_orange: #fb6c08;
  --color-dark-color: #151515;
  --color-light-color: #52525b;
  --color-light-orange: #fca99b;
  --color-light-blue: #7688db;
  --color-dark-blue: #6c7fd8;
  --color-dark-text: #686e7d;
  --color-light-bg: #f8f8fb;
  --color-dark-red: #f02757;
  --color-light-text: #ababab;
  --color-light-green: #93d991;
  --color-product-bg: #f1f3f8;
  /* Custom colors end */

}